/* CSS Document */

.primary-color-container{
    background-color: #E9ECE5
}

.secondary-color-container{
    background-color: #C0DFD9
}

.tertiary-color-container{
    background-color: #3B3A36
}

.quadernary-color-container{
    background-color: #B3C2BF
}

.img-circle{
    max-height: 400px;
    display: block;
    margin: 0 auto;
    
}
